*{
    box-sizing: border-box;
}
body{
    font-family: "Josefin Sans", sans-serif;
    min-height: 100vh;
    font-size: $font-size;
    background-color: $font-color;
    color: $very-dark-grayish-blue;
}
