.todo_sort{
    display: flex;
    justify-content: space-between;
    background-color: $very-dark-desaturated-blue;
    width: 80%;
    margin-bottom: 35px;
    padding: 20px 50px;
    border-radius: 5px;
}

.todo_sort_item-active{
    color: $bright-blue;
}