.todo{
    width: 80%;
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    margin-top: -10px;
}
.todo_total_items{
    float:left; 
    font-size: 0.7em;
    background-color: $very-dark-desaturated-blue;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 50%;
    margin-bottom: 15px;
    padding: 15px;    
}
.todo_total_completed{
    float: right; 
    font-size: 0.7em;
    width: 50%;
    margin-bottom: 15px;
    padding: 15px;
    background-color: $very-dark-desaturated-blue;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #484b6a;
    text-align: right;
    cursor: pointer;
}
.todo_sort{
    display: flex;
    justify-content: space-around;
    background-color: $very-dark-desaturated-blue;
    margin-bottom: 35px;
    padding: 20px 50px 20px 50px;
    border-radius: 5px;
    cursor: pointer;
}
.todo_sort_item{
    padding-left: 5px;
}
.todo_sort_item-active{
    color: $bright-blue;
}
.todo_paragraph{
    text-align: center;
}
.todo_list{
    background-color: $very-dark-desaturated-blue;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.todo_list li span{
    padding-top: 3px;
    padding-left: 15px;
    text-align: center;
    justify-content: center;
}

input[type=checkbox]{  
    display: none; 
}

label{  
    display: inline-block;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border:1px solid $very-dark-grayish-blue;
}

.todo_item-done .todo_item_label {
     background: url("../../images/icon-check.svg") no-repeat center, linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%)) ;
}

.todo_item-hide{
    display: none;
}

.todo_item-done, .todo_item{
    cursor: move;
    border-bottom: 1px solid $dark-grayis-blue;  
    padding: 15px; 
}
.todo_item-selected{
    opacity: 0.5;
}

@media(min-width:373px){
    .todo{
        margin-top: -10px;
        width: 40%;
    }
    .todo_total{
        display: flex;   
        flex-direction: row;
        justify-content: space-between;
        background-color: $very-dark-desaturated-blue;
        width: 100%; 
        border-radius: 5px;
        margin-bottom: 50px;
        padding: 15px;
    }
    .todo_total_items{
        font-size: 0.7em;
        order: 2;  
        margin: 0;
        padding: 0;  
    }
    .todo_total_completed{
        font-size: 0.7em;
        order: 4;
        margin: 0;
        padding: 0;
    }
    .todo_sort{
        font-size: 0.8em;
        font-weight: bold;
        order: 3;
        margin: 0;
        padding: 0;
    }
    .todo_sort_item{
        padding-left: 10px;
    }
   
}