.todo{
    width: 80%;
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
}
.todo_total_items{
    float:left; 
    font-size: 0.7em;
    background-color: $very-dark-desaturated-blue;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 50%;
    margin: -10px 0 15px 0;
    padding: 15px;    
}
.todo_total_completed{
    float: right; 
    font-size: 0.7em;
    width: 50%;
    margin: -10px 0 15px 0;
    padding: 15px;
    background-color: $very-dark-desaturated-blue;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #484b6a;
    text-align: right;
}
.todo_sort{
    display: flex;
    justify-content: space-around;
    background-color: $very-dark-desaturated-blue;
    margin-bottom: 35px;
    padding: 20px 50px 20px 50px;
    border-radius: 5px;
}
.todo_sort_item{
    padding-left: 5px;
}
.todo_sort_item-active{
    color: $bright-blue;
}
.todo_paragraph{
    text-align: center;
}

@media(min-width:373px){
    .todo{
        margin-top: -10px;
        width: 50%;
    }
    .todo_total{
        display: flex;   
        flex-direction: row;
        justify-content: space-between;
        background-color: $very-dark-desaturated-blue;
        width: 100%; 
        margin-bottom: 50px;
        padding: 15px;
    }
    .todo_total_items{
        font-size: 0.7em;
        order: 2;  
        margin: 0;
        padding: 0;  
    }
    .todo_total_completed{
        font-size: 0.7em;
        order: 4;
        margin: 0;
        padding: 0;
    }
    .todo_sort{
        font-size: 0.8em;
        font-weight: bold;
        order: 3;
        border-radius: 0;
        margin: 0;
        padding: 0;
    }
    .todo_sort_item{
        padding-left: 10px;
    }
   
}